:root {
    --color-background-dark: #004477;
    --color-primary: #0E1326;
    --color-primary-hover: #1B5C8C;
    --color-accent: #CEDC00;
    --color-text-light: #FFFFFF;
    --color-border: #ccc;
    --color-border-light: #eee;

    --font-header: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-body: Calibri, 'Trebuchet MS', sans-serif;
    --container-width: 700px;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: var(--font-body);
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a,
a:visited {
    color: var(--color-primary);
}

a:hover,
a:active {
    color: var(--color-primary-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header);
    color: var(--color-primary);
}

h1 {
    font-size: 1.67rem;
}

h2 {
    font-size: 1.4rem;
}

button,
[type="submit"],
[type="reset"] {
    min-height: 40px;
    min-width: 40px;
    font-weight: 700;
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    border: 2px solid var(--color-border);
    border-radius: 0.4rem;
    padding: 0.4rem;
}

button:hover,
[type="submit"]:hover,
[type="reset"]:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-accent);
}

header {
    background-color: var(--color-background-dark);
    padding: 2rem 0.5rem;
}

.screenreader {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE 7+ only support clip without commas */
    clip: rect(1px 1px 1px 1px);
    /* All other browsers */
    clip: rect(1px, 1px, 1px, 1px);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex.btn-group {
    flex-flow: row nowrap;
    gap: 0.5rem;
}

.flex.btn-group * {
    flex-grow: 1;
}

.scroll-y {
    overflow-y: auto;
}

.scroll-x {
    overflow-x: auto;
}

/**********/
/* HEADER */
/**********/

header .flex {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem
}

header h1 {
    color: var(--color-text-light);
    align-self: flex-end;
}

header img {
    height: 50px;
}

/********/
/* MAIN */
/********/

main {
    padding: 1rem 0;
    flex-grow: 1;
    width: 100%;
}

main h2 {
    margin-bottom: 1.6rem;
}

main h2 span {
    font-weight: 900;
}

main .title.flex {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

/**********/
/* FOOTER */
/**********/

footer {
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    padding: 1.5rem 0;
    text-align: center;
    line-height: 1.3rem;
    width: 100%;
    font-size: smaller;
}

footer h4 {
    color: var(--color-text-light);
    /* TODO: Remove margin-bottom */
    margin-bottom: 0;
}

footer a,
footer a:visited {
    color: var(--color-accent);
    text-decoration: none;
}

footer a:hover,
footer a:active {
    text-decoration: underline;
    color: var(--color-text-light);
}

footer .flex {
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
}

footer .menu {
    text-align: initial;
}

footer .menu ul {
    list-style: none;
}

footer p:nth-of-type(2) {
    margin-top: 0.7rem;
}

/*************/
/* ROOM VIEW */
/*************/

#room-selector {
    flex-flow: row wrap;
    gap: 0.5rem;
}

#room-selector h4 {
    margin-bottom: 0.7rem;
}

#room-filters {
    order: 2;
    max-width: 200px;
}

#room-filters .filter {
    padding-bottom: 1rem;
}

#room-filters .filter label {
    display: block;
}

#room-filters .filter select {
    width: 100%;
}

#room-list {
    order: 1;
    flex-grow: 1;
    min-width: 250px;
}

#room-list>div {
    height: 300px;
    border: 1px solid var(--color-border);
    background-color: var(--color-border-light);
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#room-list ul {
    flex-grow: 1;
    list-style-type: none;
    padding-inline-start: 0;
    height: fit-content;
}

#room-list li {
    color: var(--color-primary);
    background-color: #f5f5f5;
    padding: 0.5rem;
    margin: 0.7rem 0;
    font-size: 1.1rem;
    font-weight: 600;
}

#room-list li.item {
    border-left: 7px solid var(--color-accent);
}

#room-list li.item a {
    text-align: right;
    float: right;
    padding-left: 1rem;
}

/*****************/
/* SCHEDULE VIEW */
/*****************/

#schedule .header {
    height: 3rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-background-dark);
    color: var(--color-border-light);
}

#schedule>.time {
    flex-direction: column;
    min-width: 80px;
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
}

#schedule>.time .label {
    height: 3rem;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--color-border);
    text-align: right;
    padding-right: 0.5rem;
}

#schedule .day {
    position: relative;
    flex: 1;
    min-width: 100px;
    border-left: 1px solid var(--color-border);
}

#schedule .day:last-of-type {
    border-right: 1px solid var(--color-border);
}

#schedule .day .hour {
    height: 3rem;
    border-bottom: 1px solid var(--color-border-light);
}

#schedule .day .block {
    position: absolute;
    left: 0;
    right: 0;
    flex-flow: column;
    justify-content: space-around;
    padding: 0 0.2rem;
    font-size: 0.8rem;
    color: var(--color-primary);
    background-color: var(--color-accent);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
}

#schedule .day .block .code {
    font-weight: 700;
}

#schedule .day .block .name {
    /* Optional selector */
}

#schedule .day .block .instructor {
    /* Optional selector */
}

#schedule .block .time {
    font-size: 0.6rem;
    font-style: italic;
}