:root {
    --primary: # ;
    --secondary: # ;
    --third: # ;
}

div{
    border: solid red; 
}

.main-title {
    justify-items: center;
    font-size: 40px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.class-list {
    height: 600px;
    padding: 20px;
    width: 50%;
    display:inline-block;
}

.filters{
    height: 600px;
    padding: 20px;
    width: 40%;
    display:inline-block;
}